<div class="d-flex justify-content-end">
    <button type="button" (click)="onNewClick()" class="btn btn-primary">Új</button>
    <button type="button" (click)="onSaveClick()" class="btn btn-warning">Mentés</button>
</div>

<div class=" table-responsive ">
    <table class="table table-hover">
        <thead>
            <tr class="">
                <th class="w-5">Id</th>
                <th class="w-25" >Név</th>
                <th class="w-25">Kapacitás</th>
                <th class="w-25">Hely</th>

                <th class="w-25">
                    Típus
                </th>
                <th class="w-50">Műveletek</th>
            </tr>
        </thead>
        <tbody>  
            <tr>
                <th class="w-5"></th>
                <th class="w-25">
                    <input type="text" [(ngModel)]="name" class="form-control" placeholder="név">
                </th>
                <th class="w-25">
                    <input type="number" [(ngModel)]="capacity" class="form-control" placeholder="kapacitás">
                </th>
                <th class="w-25">
                    <input type="text" [(ngModel)]="location" class="form-control" placeholder="hely">
                </th>

                <th class="w-25">
                    <input type="text"[(ngModel)]="type"  class="form-control" placeholder="típus">
                </th>
                <th  class="w-25">
                    
                    <button type="button" (click)="onSearchClick()" class="btn btn-info">Keresés</button>
                </th>
            </tr>       
            <tr *ngFor="let container of containers; let i = index">

                <th class="w-5">{{container.id}}</th>
                <th class="w-25">
                    <input type="text" class="form-control" [(ngModel)]="container.name" value="{{container.name}}" placeholder="név">
                </th>
                <th class="w-25">
                    <input type="number" class="form-control" [(ngModel)]="container.capacity" value="{{container.capacity}}" placeholder="kapacitás">
                </th>
                <th class="w-25">
                    <input type="text" class="form-control" [(ngModel)]="container.location" value="{{container.location}}" placeholder="hely">
                </th>
                <th class="w-25">
                    <input type="text" class="form-control" [(ngModel)]="container.type.name" value="{{container.type.name}}" placeholder="típus">
              
                </th>
                <th  class="w-25">
                    <button type="button" (click)="onDangerClick(i)" class="btn btn-danger">Törlés</button>
                </th>
            </tr>     
            <tr>
                <th class="w-5"></th>
                <th class="w-25">
                </th>
                <th class="w-25">
                </th>
                <th class="w-25">
                </th>

                <th class="w-25">
                </th>
                <th  class="w-25">
                    <button type="button" (click)="onPreviousClick()" class="btn btn-dark">Hátra</button>
                    <button type="button" (click)="onNextClick()" class="btn btn-dark">Előre</button>
                </th>
            </tr>                 
        </tbody>
    </table>
</div>