<div *ngIf="badResponse" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Falióra!</strong> Hibás azonosítókat adtál meg!.
  <button type="button" class="close" (click)= "badResponse = false;">
    <span>&times;</span>
  </button>
</div>
<div class="row h-100 col-xl-12 align-items-center justify-content-center ">
    <div class="col-xl-3">
        <h1>CMS</h1>
      </div>
    <div class="col-xl-3">
        <div class=" mr-5 col-xl-12">
            <h3><i>Bejelentkezés</i></h3>
          </div>
        <div class="form-signing col-xl-12">
            <label for="inputEmail" class="visually-hidden">Felhasználónév</label>
            <input [(ngModel)]="username" type="text" class="form-control" placeholder="Felhasználónév" required autofocus>
            <label for="inputPassword" class="visually-hidden">Jelszó</label>
            <input [(ngModel)]="password" type="password" class="form-control" placeholder="Jelszó" required>
            <button (click)="onClick()" class="w-100 btn btn-lg btn-primary" type="submit">Bejelentkezés</button>
          </div>
        <hr/>
    </div>
</div>

