<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/container-types" aria-current="page" href="#">Típusok</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/containers" href="#">Konténerek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/mediums" href="#">Tárolók</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/entries" href="#" tabindex="-1">Fájlok</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex justify-content-end">
    <button type="button" (click)="onNewClick()" class="btn btn-primary">Új</button>
    <button type="button" (click)="onSaveClick()" class="btn btn-warning">Mentés</button>
</div>
<div *ngIf="badResponse" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Falióra!</strong> Hibásan töltötted ki a mezőket!.
    <button type="button" class="close" (click)="badResponse = false;">
        <span>&times;</span>
    </button>
</div>
<div *ngIf="saveSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Siker!</strong> Táblázat mentve!.
</div>
<div class=" table-responsive ">
    <table class="table table-hover">
        <thead>
            <tr class="">
                <th class="w-25">Név</th>
                <th class="w-25">Leírás</th>
                <th class="w-25">Műveletek</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="w-25">
                    <input type="text" [(ngModel)]="name" class="form-control" placeholder="név">
                </th>
                <th class="w-25">
                    <input type="text" [(ngModel)]="description" class="form-control" placeholder="leírás">
                </th>
                <th class="w-25">

                    <button type="button" (click)="onSearchClick()" class="btn btn-info">Keresés</button>
                </th>
            </tr>
            <tr *ngFor="let container of containerTypes; let i = index">
                <th class="w-25">
                    <input type="text" class="form-control" [(ngModel)]="container.name" value="{{container.name}}"
                        placeholder="név" required>
                </th>
                <th class="w-25">
                    <input type="text" class="form-control" [(ngModel)]="container.description"
                        value="{{container.description}}" placeholder="leírás">
                </th>
                <th class="w-25">
                    <button type="button" (click)="onDangerClick(i)" class="btn btn-danger">Törlés</button>
                </th>
            </tr>
            <tr>
                <th class="w-25">
                </th>
                <th class="w-25">
                </th>
                <th class="w-25">
                    <button type="button" (click)="onPreviousClick()" class="btn btn-dark">Hátra</button>
                    <button type="button" (click)="onNextClick()" class="btn btn-dark">Előre</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>